**/node_modules
**/esptool

Arduino/002/server01/src/passwords.h

Arduino/libraries/IRLib*
Arduino/libraries/z3t0-Arduino-IRremote-2dc97b2
Arduino/libraries/ESP32-IRremote
Arduino/libraries/Adafruit*
Arduino/libraries/SoftwareSerial

esp-idf

apks

btsnoop_hci.log

protocolutil/out/

